@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: 'stable';
}

::-webkit-scrollbar {
  background: #0E1116;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #FAFFFF;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 72, 187);
}