@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: 'stable';
  @apply scrollbar;
}

.scrollbar::-webkit-scrollbar {
  background: #0E1116;
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #FAFFFF;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: black;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 72, 187);
}